---
import HTML from "../layouts/HTML.astro";
import Container from "../layouts/Container.astro";
import SubHeading from "../layouts/SubHeading.astro";
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
import Category from "../layouts/Category.astro";
import { blogData } from "../constants/blogData";
import "../base.css";
---

<HTML
  title="Personal Blog"
  description="All my written blogs related to computer science and engineering!"
>
  <Header />
  <Container>
    <SubHeading
      title="Nooruddin Shaikh"
      subtitle="Building cool stuff, pixel by pixel."
    />
    <Category current="tech" />

    <div class="divide-neutral-500 divide-y">
      {
        blogData.map((blog) => {
          return (
            <a
              class="hover:text-white cursor-pointer flex flex-col group items-start justify-between py-2 sm:flex-row sm:items-center sm:py-4 sm:text-2xl text-md text-neutral-500 transition-colors"
              href={`/${blog.category}/${blog.slug}`}
              id={blog.category}
            >
              <span class="text-white">{blog.title}</span>
              <span class="sm:text-lg mt-1 sm:mt-0 text-sm">{blog.date}</span>
            </a>
          );
        })
      }
    </div>
  </Container>
  <Footer />
</HTML>
